// regular
@font-face {
  font-family: "Raleway";
  src: local('Raleway-Medium'), local('Raleway-Web'), local('Raleway'),
  url(~assets/fonts/Raleway/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
